let mapleader = " "

"------------------ Options
set nu
set rnu
set clipboard="unnamedplus"

"------------------ Keymaps
imap jk <ESC>

nmap <S-h> <Action>(PreviousTab)
nmap <S-l> <Action>(NextTab)

nmap <esc> :noh<CR><esc>

vmap < <gv
vmap > >gv

"------------------
map <leader>o <Action>(OptimizeImports)
map <leader>la <Action>(ShowIntentionActions)
map <leader>lr <Action>(RenameElement)

map <leader>gd <Action>(GotoDeclaration)
map <leader>gi <Action>(GoToImplementation)

map <leader>lr <Action>(GotoDeclaration)
map <leader>lr <Action>(GotoDeclaration)
