let mapleader = " "

"------------------ Options
set nu
set rnu
set clipboard=unnamedplus

"------------------ Keymaps
imap jk <ESC>

nmap <S-h> <Action>(PreviousTab)
nmap <S-l> <Action>(NextTab)

nmap <esc> :noh<CR><esc>

vmap < <gv
vmap > >gv

"------------------ IDE Keymaps
map <leader>la <Action>(ShowIntentionActions)
map <leader>lr <Action>(RenameElement)
map <leader>lf <Action>(ReformatCode)
map <leader>o <Action>(OptimizeImports)

map <leader>gd <Action>(GotoDeclaration)
map <leader>gi <Action>(GoToImplementation)

map <leader>ff <Action>(GotoFile)
map <leader><leader> <Action>(GotoFile)

map <leader>tt <Action>(ActivateTerminalToolWindow)

"------------------ IDE
set ideajoin
